@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

:root{
    --background: rgb(255, 210, 233);
    --background2: rgb(243, 171, 208);
    --layout-size: 770px;
    --padding: 20px 90px;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Belanosima';
}   

.layout{
    height: var(--layout-size);
    background-image: url('../images/background-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    isolation: isolate;
}

.layout::after{
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.layout2{
    padding: var(--padding);
    height: var(--layout-size);
    background-color: var(--background2);
}

.styleFooter{
    padding: var(--padding);
    height: auto;
    background-color: var(--background2);
}

.iconLayout, .callersLayout{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.iconLayout li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: rgb(165, 77, 114);
    font-size: 1.6rem;
    border-radius: 50%;
    color: white;
    transition: box-shadow 0.3s;
}

.iconLayout li > a:hover{
    box-shadow: 0 0 20px rgb(255, 255, 255);
}

.callersLayout li :not(h2){
    font-family: 'Wix Madefor Text';
    font-size: 0.9rem;
}
.callersLayout li > h2{
    margin-bottom: 2rem;
}

.formLayout form > div:nth-child(1){
    margin-bottom: 2rem;
}

.formLayout form div:nth-child(2){
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.formLayout form div:nth-child(2) > input{
    height: 40px;
    border-radius: 100px;
    font-size: 1rem;
    
}

.formLayout form div:nth-child(2) > input[type="email"]{
    background-color: white;
    outline: none;
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
}

.formLayout form div:nth-child(2) > input[type="submit"]{
    background-color: rgb(165, 77, 114);
    border: none;
    padding: 10px;
    color: white;
    transition: background-color 0.2s;
    cursor: pointer;
    
}

.formLayout form div:nth-child(2) > input[type="submit"]:hover{
    background-color: rgb(131, 62, 91);
}

.formLayout form div:nth-child(2) > input[type="submit"]:active{
    background-color: rgb(90, 42, 62);
}
